<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="91a895">  <td>18/11/13 15:12:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Config.beforeTest()[pri:0, instance:com.example.hello.FirstSeleniumScript@1e965684]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@205962452</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>18/11/13 15:12:06</td>   <td>3399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstSeleniumScript.sampple()[pri:0, instance:com.example.hello.FirstSeleniumScript@1e965684]">sampple</td> 
  <td>main@205962452</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>18/11/13 15:15:48</td>   <td>225094</td> <td>&nbsp;</td><td title="&lt;&lt;Config.afterTest()[pri:0, instance:com.example.hello.FirstSeleniumScript@1e965684]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@205962452</td>   <td></td> </tr>
</table>
